@model AssetRepo.Models.AssetListViewModel
@{
    var isProjectAssetsView = Model.ProjectRouteId != null;
    if (!isProjectAssetsView)
    {
        ViewBag.Title = "Assets";
    }
    else
    {
        var hasAssets = Model.TotalAssets != 0;
        ViewBag.Title = hasAssets ? Model.Assets[0].Project.Title + " Assets" : "Project Has No Assets";
    }
}

<h2>@ViewBag.Title</h2>
<br>
<div class="row">
    <h6 class="col-12 col-sm-3 col-md-4 main-label text-center">Title</h6>
    <h6 class="col-12 col-sm-5 col-md-4 field-label text-center">Project | Type: Subtype</h6>
    <h6 class="col-12 col-sm-4 action-label text-center">Actions</h6>
</div>
<hr>
@for (var i = 0; i < Model.Assets.Count; i++)
{
    <div class="card">
        <div class="row card-body">
            <div class="col-12 col-sm-3 col-md-4 text-center card-text" style="font-weight: 500;">
                @Model.Assets[i].Title
            </div>
            <div class="col-12 col-sm-5 col-md-4 text-center card-text">
                @Model.Assets[i].Project.Title
            | @Model.Assets[i].TypeSubtypePairing.Type.Name: @Model.Assets[i].TypeSubtypePairing.Subtype.Name
        </div>
        <div class="col-12 col-sm-4 text-center card-link" style="font-style: italic;">
            @Html.ActionLink("Detail", "AssetDetail", new { id = Model.Assets[i].AssetId, projectId = Model.ProjectRouteId }, new { @class = "text-dark" })
            | @Html.ActionLink("Edit", "AssetEdit", new { id = Model.Assets[i].AssetId, projectId = Model.ProjectRouteId }, new { @class = "text-dark" })
            | <a class="text-dark" data-toggle="modal" href="@("#deleteAssetModal" + i)">Delete</a>
            <div class="modal fade" id="@("deleteAssetModal" + i)" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("DeleteAsset", "Asset"))
                        {
                            <input type="hidden" value="@Model.Assets[i].AssetId" name="AssetId">
                            <input type="hidden" value="@Model.Assets[i].ProjectRouteId" name="ProjectRouteId">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete <span style="text-decoration: underline;">@Model.Assets[i].Title</span></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete <span style="text-decoration: underline;">@Model.Assets[i].Title</span>?
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark">Yes</button>
                                <button type="button" class="btn btn-default text-dark" data-dismiss="modal">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<br>
<div class="row">
    <div class="col-sm-12 form-group">
        @if (isProjectAssetsView)
        {
            <label>Total Project Assets:</label>
        }
        else
        {
            <label>Total Assets:</label>
        }
        @Model.TotalAssets
    </div>
    <div class="col-sm-12 col-sm-3 form-group">
        @Html.ActionLink("Add Asset", "AssetAdd", new { projectId = Model.ProjectRouteId }, new { @class = "btn btn-dark" })
    </div>
</div>
<br>
<div class="alert alert-dark" role="alert">
    <h3>New to AssetRepo?</h3>
    <h5 style="font-weight: 400;">Add yourself as a contributor first; then come back and add assets to a project!</h5>
</div>