@model AssetRepo.Models.ProjectListViewModel
@{
    ViewBag.Title = "Projects";
    bool? activeView;
    if (Model.Projects.Count == 0)
    {
        activeView = false;
    }
    else
    {
        activeView = Model.Projects[0].IsActive;
    }
    if (activeView == false)
    {
        ViewBag.Title = "Inactive Projects";
    }
    else
    {
        ViewBag.Title = "Active Projects";
    }
}

<h2>@ViewBag.Title</h2>
<br>
<div class="row">
    <h6 class="col-12 col-sm-4 main-label text-center">Title</h6>
    <h6 class="col-12 col-sm-4 col-md-3 col-lg-4 field-label text-center">Category</h6>
    <h6 class="col-12 col-sm-4 col-md-5 col-lg-4 action-label text-center">Actions</h6>
</div>
<hr>
@if (activeView == false)
{
    for (var i = 0; i < Model.Projects.Count; i++)
    {
        // This loop renders the all inactive Blind Collab and Public Project projects, which can be viewed or reactivated after redirection to the detail view.
        <div class="card">
            <div class="row card-body">
                <div class="col-12 col-sm-4 text-center card-text" style="font-weight: 500;">
                    @Model.Projects[i].Title
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-4 text-center card-text">@Model.Projects[i].Category.Name</div>
                <div class="col-12 col-sm-4 col-md-5 col-lg-4 text-center card-link" style="font-style: italic;">
                    @Html.ActionLink("Detail", "ProjectDetail", new { id = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                    | @Html.ActionLink("Reactivate", "ProjectDetail", new { id = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                </div>
            </div>
        </div>
    }
}
else
{
    for (var i = 0; i < 2; i++)
    {
        // This loop renders the Miscellaneous and General Use projects, which should never be edited.
        <div class="card">
            <div class="row card-body">
                <div class="col-12 col-sm-4 text-center card-text" style="font-weight: 500;">
                    @Model.Projects[i].Title
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-4 text-center card-text">@Model.Projects[i].Category.Name</div>
                <div class="col-12 col-sm-4 col-md-5 col-lg-4 text-center card-link" style="font-style: italic;">
                    @Html.ActionLink("Detail", "ProjectDetail", new { id = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                    | @Html.ActionLink("View Assets", "Index", "Asset", new { projectId = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                </div>
            </div>
        </div>
    }
    for (var i = 2; i < Model.Projects.Count; i++)
    {
        // This loop renders the remaining active Blind Collab and Public Project projects, which can be edited.
        <div class="card">
            <div class="row card-body">
                <div class="col-12 col-sm-4 text-center card-text" style="font-weight: 500;">
                    @Model.Projects[i].Title
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-4 text-center card-text">@Model.Projects[i].Category.Name</div>
                <div class="col-12 col-sm-4 col-md-5 col-lg-4 text-center card-link" style="font-style: italic;">
                    @Html.ActionLink("Detail", "ProjectDetail", new { id = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                    | @Html.ActionLink("Edit", "ProjectEdit", new { id = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                    | @Html.ActionLink("View Assets", "Index", "Asset", new { projectId = Model.Projects[i].ProjectId }, new { @class = "text-dark" })
                </div>
            </div>
        </div>
    }
}
<br>
<div class="row">
    <div class="col-sm-12 form-group">
        <label>Total Projects:</label> @Model.TotalProjects
    </div>
    <div class="col-12 col-sm-3 form-group">
        @Html.ActionLink("Add Project", "ProjectAdd", null, new { @class = "btn btn-dark" })
    </div>
    @if (activeView == false)
    {
        <div class="col-12 col-sm-3 form-group">
            @Html.ActionLink("View Active Projects", "Index", new { isActive = true }, new { @class = "btn btn-dark" })
        </div>
    }
    else
    {
        <div class="col-12 col-sm-3 form-group">
            @Html.ActionLink("View Inactive Projects", "Index", new { isActive = false }, new { @class = "btn btn-dark" })
        </div>
    }
</div>