@model AssetRepo.Models.ProjectViewModel
@{
    ViewBag.Title = "Project Detail";
    bool? isActive = Model.IsActive;
}

<h2>@Model.Title</h2>
<hr>
<div class="row">
    <div class="col-12 form-group">
        @Html.LabelFor(m => m.Category, new { @class = "h5" })
        <br>@Html.DisplayFor(m => m.Category.Name)
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 form-group">
        @Html.LabelFor(m => m.Creator, new { @class = "h5" })
        <br>@Html.DisplayFor(m => m.Creator.Name)
    </div>
    <div class="col-12 col-sm-6 form-group">
        @Html.LabelFor(m => m.CreationDateTime, new { @class = "h5" })
        <br>@Html.DisplayFor(m => m.CreationDateTime)
    </div>
    <div class="col-12 col-sm-6 form-group">
        @Html.LabelFor(m => m.LastUpdater, new { @class = "h5" })
        <br>@Html.DisplayFor(m => m.LastUpdater.Name)
    </div>
    <div class="col-12 col-sm-6 form-group">
        @Html.LabelFor(m => m.LastUpdateDateTime, new { @class = "h5" })
        <br>@Html.DisplayFor(m => m.LastUpdateDateTime)
    </div>
</div>
<div class="row">
    <div class="col-12 form-group">
        @Html.LabelFor(m => m.Description, new { @class = "h5" })
        <br>@Html.DisplayFor(m => m.Description)
    </div>
</div>
<div class="row">
    @Html.HiddenFor(m => m.IsActive)
    <div class="col-12 col-sm-3 form-group">
        @Html.ActionLink("Done", "Index", new { isActive = Model.IsActive }, new { @class = "btn btn-dark" })
    </div>
    <div class="d-none d-sm-block col-sm-3"></div>
    @if (isActive == false)
    {
        <div class="col-12 col-sm-3 form-group">
            <div class="btn btn-dark" data-toggle="modal" href="@("#isActiveModal")">Reactivate</div>
        </div>
    }
    else if (isActive == true && Model.ProjectId != 1 && Model.ProjectId != 2)
    {
        <div class="col-12 col-sm-3 form-group">
            <div class="btn btn-dark" data-toggle="modal" href="@("#isActiveModal")">Inactivate</div>
        </div>
    }
    <div class="modal fade" id="@("isActiveModal")" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @if (isActive == true && Model.ProjectId != 1 && Model.ProjectId != 2)
                {
                    using (Html.BeginForm("InactivateProject", "Project"))
                    {
                        <input type="hidden" value="@Model.ProjectId" name="ProjectId">
                        <div class="modal-header">
                            <h4 class="modal-title">Inactivate <span style="text-decoration: underline;">@Model.Title</span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to make <span style="text-decoration: underline;">@Model.Title</span> inactive?
                            <br>This will also reassign all assets in this project to Miscellaneous.
                            <br>A project can be reactivated, but all former assets will have to be reassigned manually.
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Yes</button>
                            <button type="button" class="btn btn-default text-dark" data-dismiss="modal">Cancel</button>
                        </div>
                    }
                }
                else if (isActive == false)
                {
                    using (Html.BeginForm("ReactivateProject", "Project"))
                    {
                        <input type="hidden" value="@Model.ProjectId" name="ProjectId">
                        <div class="modal-header">
                            <h4 class="modal-title">Reactivate <span style="text-decoration: underline;">@Model.Title</span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to reactivate <span style="text-decoration: underline;">@Model.Title</span> inactive?
                            <br>The project will be reactivated, but all former assets will have to be reassigned manually.<br>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Yes</button>
                            <button type="button" class="btn btn-default text-dark" data-dismiss="modal">Cancel</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
